@use "./global-reset.scss";
@use "./global.scss";
@use "./space.scss";
// @use "./colors.GREEN.scss";
@use "./colors.BLUE.scss";
@use "./fonts.scss";
@use "./components.scss";
@use "./buttons.scss";
// @use "./media.scss"; // ! Mixins are handled in vite.config.ts, needs to be processed at compilation

/* Base element styling using tokens */
html { color-scheme: light dark; }
body {
  font-family: var(--font-cinzel);
  font-family: var(--font-fredericka);
  
  font-family: var(--font-fira);
  font-family: var(--font-poppins);
  font-family: var(--font-jetbrains);

  font-family: var(--font-inter);
  font-family: var(--font-barlow);
  font-family: var(--font-src-sans);
  font-family: var(--font-sans);
  
  font-size: var(--text-lgsm);
  color: var(--color-text);
  background: var(--color-bg);
  line-height: 1;
}
